body {
  padding-top: 10px;
}
div.jumbotron {
    background-image:url('../img/dj-deck-fullcolor.jpg');
    padding-top: 10px;
    height: 330px;
}
div.jumbotron h1, div.jumbotron p {
    color: #eee;
}
div.headline {
    background-color: rgba(9,9,9,.5);
    padding:0px 25px;
}
.well {
    background-color: #3498db;
}
.navbar-default .navbar-nav > li > a.success {
    color: #18bc9c;
}
.chiclet {
    padding-top: 18px;
}

.subscribers {
    padding: 5px 24px 5px 1px;
    background-color: #FBAEBD;
    font-weight: bold;
}

.subscribers .count {
    margin: 0;
    padding: 4px 12px;
    color: #fff;
    background-color: #ED1A4B;
}