<% include head %>

      <div class="container" id="content">

        <div class="jumbotron">
          <div class="container headline">
            <h1>Be a Featured DJ</h1>
            <p>Get Your DJ Profile in the Next Newsletter</p>
          </div>
          <p style="padding-top:40px;">
            <a class="btn btn-lg btn-success" href="/">Get a Free Issue Now</a>
          </p>
        </div>

<div id="wufoo-p7x3x5">
Fill out my <a href="https://gmcerveny.wufoo.com/forms/p7x3x5">online form</a>.
</div>
<script type="text/javascript">var p7x3x5;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'gmcerveny', 
'formHash':'p7x3x5', 
'autoResize':true,
'height':'965',
'async':true,
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { p7x3x5 = new WufooForm();p7x3x5.initialize(options);p7x3x5.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

      </div>

<a name="signup">&nbsp</a>

<% include foot %>