    </div>
    <div id="footer">
      <div class="container">
        <div class="span3 footer-col text-muted credit">
          <address>
            <strong>Play Dance Music</strong><br>
            112 E Pecan St Ste 1100<br>
            San Antonio, TX<br>
            (303) 810-7068
          </address>
          <p>Made with love by <a href="http://gregcerveny.com">Greg Cerveny</a>.</p>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
   var _mfq = _mfq || [];
   (function() {
       var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
       mf.src = "//cdn.mouseflow.com/projects/9838cb9f-143e-4890-8078-c767aed568ba.js";
       document.getElementsByTagName("head")[0].appendChild(mf);
   })();
</script>
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/1607.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
  </body>
</html>
