<div>
  <p><strong>Personal Policy:</strong> 
    Being real is important to me.  That's why I'll never spam you or sell your e-mail address.
    If you get your first issue and you don't think I'm doing a good job supporting our community, 
    email me
    at <a href="mailto:list@gregcerveny.com">list@gregcerveny.com</a> 
    and let me know what I can do better.</p>
</div>
