<div class="col-lg-4">
  <ul class="nav nav-pills nav-stacked">
    <li class="active">
      <a href="#">Current Subscribers <span class="badge">256</span></a>
    </li>
  </ul>
  <br/>
  <div class="well well-lg info">
    <p>
      "I love how it is artists that I haven't heard of but now will be supporting! <strong>Big ups on picking great tracks!</strong>"<br/><br/>
      ~ <strong>DJ Atari 25</strong>
    </p>
  </div>
  <div class="well well-lg info">
    <p>
      "Being a DJ, <strong>part of my job is to find great tracks hot off the shelves</strong> of new producers to drop in my sets. This is going to make that job a heck of a lot easier!"
      <a name="signup"></a>
      <br/><br/>
      ~ <strong>DJ Spokk</strong>
    </p>
  </div>
  <div class="well well-lg info">
    <p>
      "<strong>Great tunes and even better people</strong>, a community I'm proud to be a part of!"
      <a name="signup"></a>
      <br/><br/>
      ~ <strong>Andy Reed</strong>
    </p>
  </div>
</div>
